{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="loading-screen" style="width:100%;height:100%;background: black;position: absolute;top:0;left:0;margin:0 auto;text-align:center;">
    <img src="{% static 'bars.gif' %}" style="width:20%;margin-top:10%;" />
    <h1 style="color:white;">Učitavanje prijenosa u tijeku...</h1>
</div>
<h1>Stream poveznice</h1>
<table>
    {% for link in links %}
        <tr>
            <td>{{ link.name }}</td>
            <td>{{ link.time }}</td>
            <td><a href="{{ link.realLink }}">GLEDAJ UŽIVO</a></td>
        </tr>
    {% endfor %}
</table>
<h1>Stream programa</h1>
<table>
    {% for plink in plinks %}
        <tr>
            <td>{{ plink.name }}</td>
            <td><a href="{{ plink.realLink }}">GLEDAJ PROGRAM</a></td>
        </tr>
    {% endfor %}
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#loading-screen').delay(2500).fadeOut(1000);
    })
</script>
</body>
</html>